<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /palmon_foundation/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /palmon_foundation/index.php [L]
</IfModule>
